/*-- scss:defaults --*/

$brand-link-active: white !default;
$code-color: var(--bs-body-color) !default;

/*-- scss:rules --*/

#quarto-content {
    padding-top: 2rem;
}

.top-page {
    display: flex;
    padding: 15px 15px 15px 45px;
    gap: 1rem;
    box-shadow: 0px 5px 75px var(--bs-black);
    align-items: center;

    .btn {
        margin-top: 5px;
    }

    p   {
        font-weight: bold;
        font-size: larger;
        margin-top: 1.2rem;
    }
}

.card {
    background-color: $brand-card;
    border-radius: 15px;
    padding-bottom: 10px;
    margin-bottom: 0.5em;

    .card-header {
        display: flex;
        gap: 1em;
        border-bottom: unset;
        background-color: unset;
        color: $brand-header;
        margin-left: 5px;

        i {
            color: $brand-link;
            padding-top: 0.15em;
            font-size: 27px;
        }
    }

    .card-title {
        padding-left: 0.75em;
    }

    .card-text {
        color: $brand-header;
        padding-left: 1em;
    }


}

.top-card {
    display: flex;
    gap: 1em;

    .top-left-card {
        .card-title {
            margin-top: 0.5rem;
        }
    }

    .top-right-card {
        display: flex;
        flex: 1 2;

        .left-card {
            border-radius: 15px 0px 0px 15px;
            border-right: unset;
            width: 100%;
        }

        .right-card {
            border-radius: 0% 15px 15px 0;
            width: 100%;
            border-left: unset;
        }
    }
}

.bottom-card {
    display: flex;
    flex-direction: row;

    .card-title {
        margin-top: 10px;
        padding-top: 10px;

    }

    .card-header {
        flex: 1;
        margin-top: 10px
    }
}

.metrics-table {
    color: $brand-header;
    border-color: $brand-header;
    background-color: var(--bs-body-bg) !important;

    .rt-expander::after {
        border-top: 7px solid $brand-header;
    }
}


details > summary {
    color: $brand-header;
    background-color: $brand-foldable;
    padding: 10px 1rem 10px 1rem;
    border-bottom: 2px solid $brand-link;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    font-size: medium;
}

pre.details {
    color: $brand-link;
    background-color: $brand-foldable;
    border-radius: 0px;
    padding: 10px 1rem 10px 1rem;

    code {
        overflow:auto;
    }
}
